__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.python-version
.Python
.venv/
venv/
env/
ENV/
pip-wheel-metadata/
pip-log.txt
.ipynb_checkpoints/
.profile_default/
.ipython/
.vscode/
logs/
**/logs/       
wandb/
**/wandb/           
cache/
**/cache/
**/.cache/
huggingface/
**/huggingface/
~/.cache/huggingface/